.link-intagram {
  color: black;
  text-decoration: none;
   }

.link-intagram:hover {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
  font-size: 17px; }

.img_zoom:hover {
  transition: 2s;
  transform: scale(102%); }

.img_zoomSub:hover {
  transition: 2s;
  transform: scale(105%); }

.inicio a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  font-size: x-large;
  background-color: rgb(49, 49, 49);
}