.link-intagram {
  color: black;
  text-decoration: none;
  font-weight: bold; }

.link-intagram:hover {
  color: #020eaa;
  text-decoration: none;
  font-weight: bold;
  transition: 1s;
  font-size: 17px; }

.img_zoom:hover {
  transition: 2s;
  transform: scale(95%); }

.img_zoomSub:hover {
  transition: 2s;
  transform: scale(105%); }
